<p>Add New Provider</p>
<label>Provider name</label>
<input type="text" [(ngModel)]="name">
<label>Amount per kw</label>
<input type="text" [(ngModel)]="amount">
<button routerLink="/displayadmin">back</button>
<button (click)="create()">create</button>
