<p>Login</p>
<label>Mail id</label>
<input type="text" [(ngModel)]="mail">
<br>
<label>Password</label>
<input type="password" [(ngModel)]="password">
<br>
<button (click)="adminLogin()">Login</button>
