<button routerLink="/addProvider">Add Provier</button>
<table>
    <tr>
        <th>S.No</th>
        <th>Provider</th>
        <th>Amount per KW</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let provider of providers; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ provider.name }}</td>
        <td>{{ provider.amount }}</td>
        <td>{{ provider.enabled }}</td>
        <td><button (click)="action(i)">{{ provider.action }}</button></td>

    </tr>
</table>
<div>
    <p (click)="enrollMethod(true)">Smart Meter Users</p>
    <p (click)="enrollMethod(false)">Newly Enrolled Users</p>
</div>
<div>
    <div *ngIf="enrolled">
        <!-- <p>Hello</p> -->
        <app-enrolled></app-enrolled>

    </div>
    <div *ngIf="!enrolled">
        <app-not-enrolled></app-not-enrolled>
    </div>
</div>
