<table>
    <tr>
        <th>S.No</th>
        <th>Smart Meter Id</th>
        <th>Smart Meter Holder</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let smartMeter of smartMeters; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ smartMeter.id }}</td>
        <td>{{ smartMeter.holder }}</td>
        <td>{{ smartMeter.enabled }}</td>
        <td><button (click)="action(i)">{{ smartMeter.actionAbled }}</button></td>

    </tr>
</table>