<table>
    <tr>
        <th>S.No</th>
        <th>Smart Meter Id</th>
        <th>Smart Meter Holder</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let smartMeter of smartMeters; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ smartMeter.id }}</td>
            <td>{{ smartMeter.holder }}</td>
            <td><button (click)="actionEnroll(i)"> Enroll </button><button (click)="actionReject(i)">Reject</button> </td>   
    </tr>
</table>
